<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Estudiante</title>
</head>
<body>
<h1>Ingresar Nuevo Estudiante</h1>

<form th:action="@{/update}" th:object="${estudiante}" method="post">
<input type="hidden" th:field="*{codigoEstudiante}"><br>
<span th:errors="*{codigoEstudiante}" style="color: #e81505"></span><br>
<label>Nombre</label>
<input type="text" th:field="*{nombre}"><br>
<span th:errors="*{nombre}" style="color: #e81505"></span><br>


<label>Apellido</label>
<input type="text" th:field="*{apellido}" id="apellido" placeholder="Sancnez" style="width: 400px" name="apellido"><br>
	<div><span th:errors="*{apellido}" style="color: #FF0000"></span></div>


<label>Edad</label>
<input type="number" th:field="*{edad}" id="edad" placeholder="18" style="width: 400px" name="edad"><br>
	<div><span th:errors="*{edad}" style="color: #FF0000"></span></div>


<label>Activo</label>
<input type="radio" th:field="*{estado}" th:value="${true}"><br>
<label>Inactivo</label>
<input type="radio" th:field="*{estado}" th:value="${false}"><br>

<label>Guardar</label>
<input type="submit" value="guardar">


</form>


</body>
</html>