<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de Estudiantes</title>
</head>
<body>

<table>
	<thead>
	<th>Nombre</th>
	<th>Apellido</th>
	<th>Edad</th>
	<th>estado</th>
	</thead>
	<th:block th:each="estudiante, row: ${estudiantes}">
	<tr><th th:text="${estudiante.codigoEstudiante}"/>
		<th th:text="${estudiante.nombre}"/>
		<th th:text="${estudiante.apellido}"/>
		<th th:text="${estudiante.edad}"/>
		<th th:text="${estudiante.estadoDelegate}"/>
	</tr>
	</th:block>

</table>
<form th:action="@{/mostrarEstudiante}" method="post">
 <label>Buscar por codigo de Estudiante:</label><input type="number" name="codigo"><br>
 <input type="submit" value="buscar">
</form>
<br>
<form th:action="@{/insertarEstudiante}" >
<input type="submit" value="insertar nuevo estudiante">
</form>
<br>

<form th:action="@{/editStudent}" >
<input type="number" name="codigo"><br>
<input type="submit" value="Editar estudiante" >
</form>
<br>

<form th:action="@{/borrarEstudiante}" method="post">
 <label>Borrar estudiante por codigo:</label><input type="number" name="codigo"><br>
 <input type="submit" value="Borrar">
</form>


<form th:action="@{/filtrar}" method="get">

 <label>Ingrese la Cadena</label><br>
<input type="text" name="nombre"> 
 <input type="submit" value="Filtrar">

</form>


<form th:action="@{/dto}" method="post">

 <label>Ingrese la Cadena</label><br>

 <input type="submit" value="DTO">

</form>



</body>
</html>